<% content_for :sidebar do %>
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
        <li>
          <%= link_to 'New Album', new_album_path %>
        </li>
    </ul>
  </div>
<% end %>

<div class="offset2">
  <h1>My Albums</h1>
  <hr/>
  <ul class="thumbnails">
    <% @albums.each do |album| %>
    <li class="span3">
      <div class="thumbnail">
        <% if album.media.first.present? %>
          <%= link_to((image_tag (album.media.first.attachment_url(:thumb).to_s)), album) %>
        <% else %>
          <%= link_to((image_tag (asset_path("fallback/default.jpg"))), album) %>
        <% end %>
        <div class="caption">
          <h3 style="display:inline;"><%= album.title %></h3>
          <p style="float:right;line-height:27px;">
            <%= link_to album, :style => "text-decoration:none;" do %> 
              <i class="icon-large icon-eye-open"></i>
            <% end %>
            <%= link_to edit_album_path(album), :style => "text-decoration:none;" do  %>
              <i class="icon-large icon-pencil"></i>
            <% end %>
            <%= link_to album, confirm: 'Are you sure?', method: :delete, :style => "text-decoration:none;" do %>
              <i class="icon-large icon-remove"></i>
            <% end %>
          </p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>


