<% content_for :sidebar do %>
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
        <li>
          <%= link_to 'Edit', edit_album_path(@album) %>
        </li>
        <li>
          <%= link_to 'Back', albums_path %>
        </li>
        <li>
          <%= link_to 'Add Photos', '#mymodal', 'data-toggle' => 'modal' %>
        </li>
    </ul>
  </div>
<% end %>
<div class="span10">
	<h3><%= @album.title %></h3>
	<ul class="thumbnails" id="media">
		<%= render @album.media %>
	</ul>
	
  <div id="mymodal" class="modal hide fade in">
    <div id="uploader" />
  </div>


<%= javascript_tag do %>
 jQuery(document).ready(function(){
    $("#uploader").pluploadQueue({
      runtimes: 'html5,flash,silverlight,browserplus',
      url: '<%= album_media_path(@album) %>',
      container: 'uploader',
      multipart: true,
      multipart_params: {
        '_http_accept': 'text/javascript',
        'format': 'js',
        '<%= key = Rails.application.config.session_options[:key] %>': '<%= cookies[key] %>',
        '<%=request_forgery_protection_token %>': '<%= form_authenticity_token %>'
      },
      filters: [
        {title: "Images", extensions: "jpg,jpeg,png"}
      ],
      init: {
        FileUploaded: function(up, file, info) {
          eval(info["response"]);
        }
      }
    });
  });
<% end %>


</div>