<div class="span10">
	<h3><%= @album.title %></h3>
	<ul class="thumbnails" id="media">
		<%= render @album.media %>
	</ul>
	<%= link_to 'Edit', edit_album_path(@album) %> |
	<%= link_to 'Back', albums_path %>

	<a class="btn btn-primary" href="#uploader" data-toggle="modal">Add Photos</a><div id="uploader" class="modal hide fade"/>

<script type="text/javascript">
 $(function(){
    $("#uploader").pluploadQueue({
      runtimes: 'gears,flash,silverlight,browserplus,html5',
      url: '/albums/<%= @album.id %>/media',
      multipart: true,
      multipart_params: {
      	'_http_accept': 'application/javascript',
        '<%= request_forgery_protection_token %>': '<%= form_authenticity_token %>',
        '<%= request.session_options[:key] %>': '<%= request.session_options[:id] %>'
      }
    });
  });
</script>
</div>